<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to home</h1>
    {{Greeting}}
<br>
 <label for="w3review">Review of W3Schools:</label>
<textarea id="w3review" name="w3review" rows="6" cols="50" wrap="soft">
At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
</textarea>
</body>
</html>